[submodule "Boost_Graph/GraphAlko"]
	path = Boost_Graph/GraphAlko
	url = https://github.com/pupach/GraphAlko.git
[submodule "Processor_dedinski/Processor_and_all"]
	path = Processor_dedinski/Processor_and_all
	url = https://github.com/pupach/Processor_and_all.git
[submodule "List_dedinskey/list"]
	path = List_dedinskey/list
	url = https://github.com/pupach/list.git
[submodule "Akinator_dedinskiy/tree"]
	path = Akinator_dedinskiy/tree
	url = https://github.com/pupach/tree.git
[submodule "Dedinskiy/diff_tree/diff_tree"]
	path = Dedinskiy/diff_tree/diff_tree
	url = https://github.com/pupach/diff_tree.git
[submodule "Dedinskiy/Dedinskiy"]
	path = Dedinskiy/Dedinskiy
	url = https://github.com/pupach/Dedinskiy.git
[submodule "GraphAlgoLab/lab_hash"]
	path = GraphAlgoLab/lab_hash
	url = https://github.com/pupach/lab_hash.git
[submodule "GraphAlgoLab/lab_tree"]
	path = GraphAlgoLab/lab_tree
	url = https://github.com/pupach/lab_tree.git
[submodule "game_on_pygame/soul-v0"]
	path = game_on_pygame/soul-v0
	url = https://github.com/pupach/soul-v0.git
